@model CourseWork.Models.ChapterModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<style>
    * {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
</style>

<script src="~/lib/markdown-it/markdown-it.min.js"></script>
<script>
    let markdownDiv;
    let mdWrapper;
    let textarea;
    let md;

    function onCheckboxChange() {
        if (document.getElementById("checkbox").checked) {
            textarea.addEventListener("input", showMarkdown);
            showMarkdown();
            mdWrapper.style.display = "block";
        }
        else {
            textarea.removeEventListener("input", showMarkdown);
            markdownDiv.innerHTML = null;
            mdWrapper.style.display = "none";
        }
    }

    function showMarkdown() {
        markdownDiv.innerHTML = md.render(textarea.value);
    }

    window.onload = () => {
        markdownDiv = document.getElementById("markdowndiv");
        mdWrapper = document.getElementById("markdownwrapper");
        textarea = document.getElementById("textarea");
        md = window.markdownit();

        document.getElementById("checkbox").onchange = onCheckboxChange;
        onCheckboxChange();
    }
</script>

<form method="post">
    <div>
        <div class="form-group">
            <label asp-for="Name">@Localizer["Name"]</label>
            <input class="form-control" type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group form-check">
            <input id="checkbox" class="form-check-input" type="checkbox" asp-for="IsMarkdown" />
            <label asp-for="IsMarkdown" class="form-check-label">@Localizer["Markdown"]</label>
        </div>

        <div class="form-group">
            <label asp-for="Text">@Localizer["Text"]</label><br />

            <div class="row">

                <div class="col-md form-group" style="height: 600px">
                    <textarea id="textarea" class="form-control h-100" asp-for="Text"></textarea>
                </div>

                <div id="markdownwrapper" class="col-md form-group overflow-auto" style="height: 600px; display: none;">
                    <div id="markdowndiv" class="form-control overflow-auto border rounded h-100"></div>
                </div>
            </div>

            <span asp-validation-for="Text"></span>
        </div>

        <input type="hidden" asp-for="Index">
        <input type="hidden" asp-for="Id">
        <input type="hidden" asp-for="FanficModelId">
        <input type="hidden" asp-for="Image">
        <input type="hidden" asp-for="ImagePublicId">

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="@Localizer["Save"]" />
        </div>
    </div>
</form>