@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

@model CourseWork.Models.FanficModel

<form method="post">
    <div>
        <div class="form-group">
            <label asp-for="Name"></label><br />
            <input class="form-control" type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
    </div>
</form>